.logs {
  border: 1.2px solid #333;
  width: 60vw;
  margin: 140px auto;
  padding: 20px;

  &__heading {
    text-align: center;
    padding: 14px;
    font-size: 1.5rem;
    border-bottom: 0.8px solid #d0d0d0;
    background: #232e3a;
    color: #ffffff;
    margin: -21px -21px 21px -21px;
  }
}

.logsItem {
  padding: 14px;
  border-bottom: 0.8px solid #d0d0d0;
  display: flex;
  justify-content: space-between;

  &__deleteBtn {
    color: grey;
    font-size: 30px;
    float: right;
    cursor: pointer;
    margin-left: 60px;

    &:hover {
      color: #b91111;
    }

    @media only screen and (max-width: 768px) {
      font-size: 56px;
      margin-left: 3px;
    }
  }

  &__primaryText {
    font-size: 1.1rem;
    margin-bottom: 4px;
    font-weight: 600;
  }

  &__boldText {
    font-weight: bold;
    color: black;
  }

  &__mainText {
    color: #122cc2;
  }

  &__dangerText {
    color: #dd2323;
  }

  &__secondaryText {
    color: #b4aaaa;
  }

  @media only screen and (max-width: 768px) {
    margin: 0 0 12px 0;
  }
}

.addLogs {
  border: 1.2px solid #333333;
  width: 60vw;
  margin: 140px auto;
  padding: 20px;
}

// Checkbox
input[type='checkbox'] {
  position: relative;
  cursor: pointer;
  margin-left: 15px;
}
input[type='checkbox']:before {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: lightgrey;
}
input[type='checkbox']:checked:before {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: hotpink;
}
input[type='checkbox']:checked:after {
  content: '';
  display: block;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
